
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .container {
        background: linear-gradient(to bottom, #6275e0, #8eecf0);
        /* Cambia los colores según tus preferencias */
        margin: 0;
        padding: 0;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
    
    h2 {
      text-align: center;
    }
    
    label, input {
      display: block;
      margin-bottom: 10px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
    }
    
    input[type="submit"]:hover {
      background-color: #45a049;
    }
    
    /* Color celeste */
    body {
      background-color: #b3d9ff;
    }
    
    .link {
      text-align: center;
      margin-top: 10px;
    }
    
    .link a {
      color: #666;
      text-decoration: none;
    }
    
    .link a:hover {
      text-decoration: underline;
    }



    #titulo {
        
        text-align: center;
      }
